@model CRUDOperation.Web.UI.Models.Movie
@{
    ViewBag.Title = "Add";
}

@section css {
    @Styles.Render("~/Content/datePickerCss")
}
<div class="container">
    <div class="row">
        @using (Html.BeginForm("Add", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-denger" })
                @Html.HiddenFor(x => x.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Poster)
                @Html.TextBoxFor(x => x.Poster, new { type = "file" })
                @Html.ValidationMessageFor(x => x.Poster, "", new { @class = "text-denger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DateOfRelease)
                @Html.TextBoxFor(x => x.DateOfRelease, new { @class = "form-control", @id = "datepicker" })
                @Html.ValidationMessageFor(x => x.DateOfRelease, "", new { @class = "text-denger" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
            <button type="button" class="btn btn-sm btn-danger" onclick="history.back()">Cancel</button>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval","~/Content/datePickerJs")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'mm/dd/yyyy'
            });
        });
    </script>
}